
@{
    <style>
        .logout{
            color: yellow;
            text-shadow : 0px 1px 10px red;
        }
        .logout:hover{
            color: white;
            text-shadow: 0px 0px 20px blue;
        }
    </style>
}

<nav class="sidebar" id="sidebar">
    <div class="cancel" id="cancel">
        <i class="bi bi-x-square-fill fs-3 text-white"></i>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div>
            @if (@Context.User.FindFirst("ImageName").Value == "")
            {
                <img src="http://localhost:5035/api/Auth/getUserProfileImage?imageName=no_image.png" class="img-fluid" width="50" />
            }
            else
            {
                <img src="http://localhost:5035/api/Auth/getUserProfileImage?imageName=@Context.User.FindFirst("ImageName").Value" class="img-fluid" width="50" />
            }
            <a asp-action="#" asp-controller="#" class="my-nav-link fs-3">@Context.User.FindFirst("UserName").Value</a>
        </div>
        <div>
            <a asp-action="Signout" asp-controller="Auth" class="my-nav-link fs-5 ms-1 logout">Logout</a>
        </div>

    }
    <hr style="color:white" />
    <div class="menu-content">
        <ul class="menu-items list-style-none text-white">
            <li>
                <a class="nav-link active text-white" aria-current="page" href="~/Products/AllProducts">Products</a>
            </li>
            <li>
                <a class="nav-link active text-white" asp-action="AllMyPurchases" asp-controller="Products" aria-current="page">All my purchase</a>
            </li>
            <li>
                <a class="nav-link active text-white" aria-current="page" href="#">My Cart</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {

                @if (Context.User.IsInRole("Admin"))
                {
                    <li>
                        <a class="nav-link active text-white" aria-current="page" asp-action="AddNewProd" asp-controller="Products">Add product</a>
                    </li>
                    <li>
                        <a class="nav-link active text-white" aria-current="page" asp-action="RemoveProd" asp-controller="Products">Remove product</a>
                    </li>

                    <li>Contact</li>
                    <li>
                        <a class="nav-link active text-white" aria-current="page" href="~/Auth/AllUsers">All users</a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="">
    </div>
</nav>