<nav class="sidebar" id="sidebar">
    <div class="cancel" id="cancel">
        <i class="bi bi-x-square-fill fs-3 text-white"></i>
    </div>
    <hr style="color:white" />
    <div class="menu-content">
        <ul class="menu-items list-style-none text-white">
            <li>
                <a class="nav-link active text-white" aria-current="page" href="~/Products/AllProducts">Products</a>
            </li>
            <li>
                <a class="nav-link active text-white" aria-current="page" href="~/Products/AddNewProd">Add new product</a>
            </li>
            <li>
                <a class="nav-link active text-white" aria-current="page" href="~/Products/RemoveProd">Remove product</a>
            </li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="">
    </div>
</nav>