<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* MainStysheet css link *@
    <link rel="stylesheet" href="~/Css/MainStyleSheet.css" />
    @* Favicon *@
    <link rel="icon" type="image/x-icon" href="/Images/Favicon/fakeStoreIcon.jpg">
    @* Sidebar css *@
    <link href="~/Css/Sidebar.css" rel="stylesheet" />
    @* BootStrap CDN Links *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @* Bootstrap Icons *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    @* Js FIle  *@
    <script src="~/Js/Scripts.js"></script>
    <style>
        

        .brand-shadow {
            text-shadow: 0px 0px 15px white;
        }
    </style>
</head>
<body>
    <!-- Side bar start -->
    @{
        await Html.RenderPartialAsync("Partial_Views/SidebarPartialView.cshtml");
    }
    <!-- Side bar end -->

    <div class="body-content" id="body-content">
        <!-- Header nav bar Start -->
        @{
            await Html.RenderPartialAsync("Partial_Views/NavBarPartialView.cshtml");
        }
        <!-- Header nav bar end -->

        <!-- Main Content start -->
        <section class="main-content w-100" id="mainContent">
            @RenderBody()
        </section>
        <!-- Main Content end -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="bg-dark text-white text-center p-3">
                <h4>Choose the best products from here</h4>
                <div>
                    <button type="submit" class="btn btn-success">Contact Us</button>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    </div>

</body>
</html>
