@{

}

<div class="d-flex justify-content-center align-item-center">
    <div class="">
        <h2 class="text-danger mt-5">You are unauthorized to access this page</h2>
        <br /> <br />
        <img src="/images/unauthorized.png" class="img-fluid" />
    </div>
</div>